@using MinhTuan.Application.Areas.Category.Models
@{
    Layout = "_LayoutAdmin";
}
@model CreateViewModel;
<style>
    .modal-dialog {
        transform: translateY(-50%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        opacity: 0;
    }

    .modal.show .modal-dialog {
        transform: translateY(0);
        
        opacity: 1;
    }

</style>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Danh mục dùng chung</h1>
        <nav style="display: flex; align-items: center; justify-content: space-between;">
            <ol class="breadcrumb" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="index.html">Trang quản trị</a></li>
                <li class="breadcrumb-item">Quản trị hệ thống</li>
                <li class="breadcrumb-item active">Danh mục dùng chung</li>
            </ol>
           
        </nav>

    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header" style="display:flex;align-items:flex-end">
                        <button style="margin-left: auto;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCategoryModal">
                            <i class="ri-add-line">  Thêm mới</i>
                        </button>
                    </div>
                    <div class="card-body" style="padding:20px">

                        <!-- Table with stripped rows -->
                        <table class="table table-striped " id="categoryTable">
                            <thead>
                                <tr>
                                    <th>Mã danh mục</th>
                                    <th>Tên danh mục</th>
                                    <th>Mô tả</th>
                                   @*  <th>Thao tác</th> *@
                                </tr>
                            </thead>
                           
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
@await Html.PartialAsync("_CreatePartial",new CreateViewModel())
@section scripts{
    <script>
        function showCreateModal() {
            $.ajax({
                url: '/Category/Category/ShowModal_Create',
                type: 'GET',
                success: function (data) {
                    $('#createCategoryModal').modal('show'); // Hiển thị modal

                },
                error: function (xhr, status, error) {
                    console.error('AJAX Error:', status, error);
                }
            });
        };
        $(document).ready(function () {
            var table = $("#categoryTable").DataTable({
                ajax: {
                    url: "/Category/Category/GetAllCategory",
                    type: "GET", // Phương thức yêu cầu, mặc định là GET
                    dataType: "json", // Kiểu dữ liệu mong đợi trả về từ server, mặc định là json
                    dataSrc: "" // Nếu dữ liệu trả về là một mảng đối tượng, để trống
                    // Nếu dữ liệu trả về cần được trích xuất từ một phần khác, hãy cung cấp tên phần đó
                },
                responsive: true,
                processing: true,
                lengthChange: true,
                lengthMenu: [[10, 20, 30, -1], [10, 20, 30, "Tất cả"]],
                columns: [
                    { data: "code" },
                    { data: "name" },
                    { data: "description" }
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ bản ghi",
                    "infoEmpty": "Hiển thị 0 đến 0 trong 0 bản ghi",
                    "infoFiltered": "(Được lọc từ _MAX_ bản ghi)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_bản ghi",
                    "loadingRecords": "Đang xử lý...",
                    "processing": "Đang xử lý",
                    "searchPlaceholder": "Tìm kiếm",
                    "zeroRecords": "Không có dữ liệu phù hợp",
                    "aria": {
                        "orderable": "Sắp xếp theo cột",
                        "orderableReverse": "Sắp xếp theo cột"
                    }
                },
                layout: {
                    topEnd: {
                        search: {
                            text: '_INPUT_'
                        }
                    },
                }
            });
        });

      
                

              

  

    </script>



}
