 <!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Bản quyền <strong><span>VStyle</span></strong>. Đã đăng ký bản quyền
    </div>
    <div class="credits">
        Được tạo bởi <a href="https://www.facebook.com/minhtuan.me">Nguyễn Minh Tuấn</a>
    </div>
</footer><!-- End Footer -->
