@using HGO.ASPNetCore.FileManager
@using HGO.ASPNetCore.FileManager.ViewComponentsModel
@using System.IO

@{
	Layout = "_Layout";
}
@this.RenderHgoFileManagerJavaScripts();
@this.RenderHgoFileManagerCss(false);
<main class="main container" id="main" style="min-height:100px">

</main>
<h1>Đây là trang dành cho khách hàng</h1>
